@import "../../global.scss";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $lightGray;
  font-weight: 400;
  font-size: 34px;
}
